<td class="nameItem editMarker" data-id="{{id}}">{{name}}</td>
<td class="cityItem editMarker">{{city}}</td>
<td class="stateItem editMarker">{{state}}</td>
<td class="zipCodeItem editMarker">{{zipCode}}</td>
<td class="versionItem editMarker">{{version}}</td>
<td class="actionItems"><button class="btn   btn-primary editMarker"> <i class="icon   fi-pencil"></i> Edit</button></td>
<td class="actionItems"><button class="btn  btn-red  deleteMarker"> <i class="icon  fi-x-circle"></i> Delete</button></td>