<div class=form form-inline>

    <table class="table">
        <tr>
            <td>Name</td><td>
                <input id="name" name="name" size=60 placeholder="Name"  value="{{name}}" type="text" required="">
            </td></tr>
        <tr><td>City</td><td>
                <input id="city" name="city" size=60 placeholder="City"  value="{{city}}"  type="text" required="">
            </td></tr>
        <tr><td>State</td><td>
                <input id="state" name="city" class="input-small" placeholder="State"   value="{{state}}" type="text" required="">
            </td></tr>
        <td>Zip Code</td><td>
            <input id="zipCode" name="zipCode" class="input-small" placeholder="Zip Code"  value="{{zipCode}}"  type="text" required="">
        </td></tr>
        <tr><td>Version</td><td>
                <input id="version" name="version" class="input-small" placeholder="Version"   value="{{version}}" type="text" required="">
            </td>
        </tr></table>
</div>
